.modal-header{
    padding: 0;
}
.modalTitle,
.modalPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700 !important;
}
.modalPrice{
    color: red;
    font-style: italic;
}
.rankedArea{
    display: flex;
    justify-content: space-around;
}
.modal-content{
    border-radius: 20px;
}
.modalImage{
    padding: 10px;
    padding-bottom: 0;
    border-radius: 20px;
}
@media screen and (max-width: 768px){
    .modal-dialog{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 50%;
    }
}
